.issue-node-outer {
  stroke: rgb(0 0 0);
  fill: rgb(255 255 255);
  transition: stroke 0.15s ease-out, stroke-width, 0.15s ease-out;

  &:hover {
    stroke: rgb(var(--secondary-1-4));
    stroke-width: 2;
  }

  &.--not-found {
    stroke: rgb(var(--primary-3));
  }
}

.issue-link {
  fill: none;
  stroke: black;

  &.--selected {
    stroke: rgb(var(--primary-0));
  }

  &.--unfocused {
    stroke: var(--light-gray);
  }
}

.graph-issue {
  font-size: var(--base-font-size);
  font-family: "Noto Sans JP";
  dominant-baseline: text-before-edge;
  transition: opacity 0.15s ease-out;

  &.--unfocused {
    opacity: 0.3;
  }
}

.issue-self-link {
  cursor: pointer;

  &.--disabled {
    display: none;
  }
}
