.issue-node-outer {
  stroke: rgb(0 0 0);
  fill: rgb(255 255 255);
  transition: stroke 0.1s ease, stroke-width, 0.1s ease;

  &:hover {
    stroke: rgb(var(--secondary-1-4));
    stroke-width: 2;
  }

  &.--not-found {
    stroke: rgb(var(--primary-3));
  }
}

.issue-link {
  fill: none;
}

.graph-issue {
  font-size: var(--base-font-size);
  font-family: "Noto Sans JP";
  dominant-baseline: text-before-edge;
}

.issue-self-link {
  cursor: pointer;

  &.--disabled {
    display: none;
  }
}
