.project-toolbar-wrapper {
  position: relative;
  margin: 0 var(--space-large);
}

.project-toolbar {
  display: inline-flex;
  grid-area: project-toolbar;
  padding: var(--space-base);
  background-color: white;
  margin: 0;
  list-style: none;
}

.project-toolbar__search-condition-editor {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  height: 32px;
  transition: color 0.15s ease-out;
  border-radius: var(--base-border-radius);
  cursor: pointer;
  color: black;
  padding: 0 var(--space-base);
  font-size: var(--small-font-size);
  white-space: nowrap;

  &:hover {
    color: rgb(var(--secondary-2-4));
    background-color: rgb(var(--secondary-2-1));
    text-decoration: underline;
  }

  /* style for opened */
  &.--opened {
    color: rgb(var(--secondary-2-4));
    background-color: rgb(var(--secondary-2-1));
    text-decoration: underline;
  }
}

.search-condition-editor__main {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: calc(var(--space-base) + 48px);
  left: 0;
  padding: 0;
  background-color: white;
  border-radius: var(--base-border-radius);
  box-shadow: var(--box-shadow);
  width: 0;
  visibility: hidden;
  transition: width 0.15s ease, opacity 0.15s ease;
  opacity: 0;
  white-space: nowrap;
  margin: 0;
  list-style: none;

  &.--opened {
    visibility: visible;
    opacity: 1;
    width: 328px;
  }
}

.search-condition-editor__cell {
  display: flex;
  align-items: center;
  padding: var(--space-base);
  margin-bottom: var(--space-small);
}

.search-condition-editor__input {
  visibility: hidden;
  display: flex;
  flex: 1 1 auto;

  &.--selected {
    visibility: visible;
  }
}

.search-condition-editor__epic-selector {
  position: relative;
  flex: 1 1 auto;
  align-items: center;
  display: flex;
}

.search-condition-epic-selector__input {
  flex: 1 1 auto;
  width: 100%;

  /* common input style */
  padding: var(--space-base) var(--space-large);
  padding-left: calc(var(--icon-size) + var(--space-small) + var(--space-small));
  border: 1px solid var(--light-gray);
  outline: 1px solid transparent;
  background-color: rgba(0 0 0 20%);
  border-radius: var(--space-small);
  transition: outline 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;

  &.--selected {
    visibility: visible;
  }

  &:focus {
    background-color: white;
    outline: 1px solid rgb(var(--primary-3));
    border-color: rgb(var(--primary-3));
  }
}

.search-condition-epic-selector__icon {
  position: absolute;
  left: var(--space-small);
  top: var(--space-small);

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: gray;
    transition: background-color 0.15s ease-out;
    mask: url("/assets/svg/tablar-icons/search.svg");
    mask-size: cover;
  }
}

.search-condition-editor__label {
  display: flex;
  flex: 1 1 auto;
  cursor: pointer;
  align-items: center;

  /* content width - suggestor width */
  width: 112px;
  color: rgb(var(--primary-3));
}

.search-condition-editor__radio {
  margin: 0;
  margin-right: var(--space-base);
  display: none;
}

.search-condition-editor__checkbox {
  display: inline-block;
  flex: 0 0 auto;
  background-color: white;
  padding: var(--space-small);
  transition: background-color 0.15s ease-out;
  height: var(--icon-size);
  width: var(--icon-size);

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    background-color: gray;
    transition: background-color 0.15s ease-out;
    mask: url("/assets/svg/tablar-icons/square.svg");
    mask-size: cover;
  }

  &.--checked {
    &::before {
      mask: url("/assets/svg/tablar-icons/square-check.svg");
      background-color: rgb(var(--primary-3));
    }
  }
}

/* footer */
.search-condition-editor__footer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-base);
  padding-top: calc(var(--space-base) - 1px);
  border-top: 1px solid var(--light-gray);
}

.search-condition-editor__submit,
.search-condition-editor__cancel {
  flex: 0 0 auto;
  align-self: flex-end;
  right: 0;
  bottom: 0;
  padding: var(--space-base);
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
}

.search-condition-editor__submit {
  border: 1px solid rgb(var(--secondary-1-0));
  background-color: rgb(var(--secondary-1-1));
  color: white;

  &:hover {
    background-color: rgb(var(--secondary-1-2));
  }

  &:active {
    background-color: rgb(var(--secondary-1-3));
  }
}

.search-condition-editor__cancel {
  border: 1px solid black;
  background-color: white;
  color: black;

  &:hover {
    background-color: lightgray / 60%;
  }

  &:active {
    background-color: lightgray;
  }
}

.search-condition-editor__description {
  margin-left: var(--space-base);
  font-size: calc(var(--small-font-size));
  color: gray;
}
