.side-toolbar {
  position: absolute;
  display: flex;
  left: var(--space-large);
  top: 50%;
  padding: var(--space-base);
  background-color: white;
  border-radius: calc(var(--base-border-radius) * 2);
  list-style: none;
  box-shadow: var(--box-shadow);
}

.side-toolbar__graph-layout {
  position: relative;
  flex: 0 0 auto;
  background-color: white;
  padding: var(--space-small);
  transition: background-color 0.15s ease-out;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 24px;

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    mask: url("/assets/svg/tablar-icons/layout-2.svg");
    mask-size: cover;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--secondary-1-3));
    transition: background-color 0.15s ease-out;
  }

  &:hover {
    background-color: rgb(var(--secondary-1-3));
  }

  &:hover::before {
    background-color: white;
  }

  /* style for opened */
  &.--opened {
    background-color: rgb(var(--secondary-1-3));

    &::before {
      background-color: white;
    }
  }
}

.graph-layout__graph-layouter {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 32px;
  top: calc(-1 * var(--space-base));
  padding: var(--space-base);
  background-color: white;
  border-radius: calc(var(--base-border-radius) * 2);
  visibility: hidden;
  transition: left 0.15s ease, opacity 0.15s ease;
  opacity: 0;
  box-shadow: var(--box-shadow);

  &.--opened {
    visibility: visible;
    left: calc(32px + var(--space-base) + var(--space-base));
    opacity: 1;
  }
}

.graph-layouter__vertical {
  &::before {
    mask: url("/assets/svg/tablar-icons/layout-distribute-vertical.svg");
    mask-size: cover;
  }
}

.graph-layouter__horizontal {
  &::before {
    mask: url("/assets/svg/tablar-icons/layout-distribute-horizontal.svg");
    mask-size: cover;
  }
}

.graph-layouter__horizontal,
.graph-layouter__vertical {
  flex: 0 0 auto;
  background-color: white;
  padding: var(--space-small);
  transition: background-color 0.15s ease-out;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 24px;

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    mask-size: cover;
    width: 100%;
    height: 100%;
    background-color: gray;
    transition: background-color 0.15s ease-out;
  }

  &:hover {
    background-color: rgb(var(--secondary-1-3));

    &::before {
      background-color: white;
    }
  }

  &.--selected {
    cursor: default;

    &:hover {
      background-color: white;
    }

    &::before {
      background-color: rgb(var(--secondary-1-3));
    }
  }
}
