@keyframes sync-jira-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.sync-jira {
  display: flex;
  justify-content: center;
  grid-area: sync-jira;
  top: calc(var(--space-large) + var(--space-small));
}

.sync-jira__container {
  position: relative;
}

.sync-jira__main {
  padding: var(--space-small);
  outline: none;
  background: none;
  border: 1px solid transparent;
  transition: border 0.1s ease-out, background-color 0.1s ease-out;
  cursor: pointer;
  height: 32px;
  width: 32px;
  border-radius: 16px;

  &:hover {
    border: 1px solid rgb(var(--complement-3));
  }

  &.--syncing {
    animation: sync-jira-loading 1s linear infinite;
  }

  &[disabled] {
    cursor: initial;
    border-color: rgb(var(--complement-1));
  }

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    mask: url("/assets/svg/tablar-icons/refresh.svg");
    mask-size: cover;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--complement-3));
    transition: background-color 0.1s ease-out;
  }

  &[disabled]::before {
    background-color: rgb(var(--complement-1));
  }

  &:not([disabled]):active {
    background-color: rgb(var(--complement-3));

    &::before {
      background-color: rgb(var(--complement-1));
    }
  }
}
