.user-configuration {
  display: flex;
  grid-area: user-configuration;
  position: relative;
}

.user-configuration__toolbar {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-direction: column;
  background-color: white;
  padding: var(--space-base);
}

.user-configuration__opener {
  position: relative;
  outline: none;
  background: none;
  border: none;
  display: flex;
  flex: 1 1 auto;
  background-color: white;
  padding: var(--space-small);
  transition: color 0.15s ease-out;
  cursor: pointer;
  color: black;
  border-radius: var(--icon-size);

  &::before {
    content: "";
    display: inline-block;
    flex: 0 0 auto;
    mask: url("/assets/svg/tablar-icons/settings.svg");
    mask-size: cover;
    width: var(--icon-size);
    height: var(--icon-size);
    background-color: rgb(var(--secondary-1-3));
    transition: background-color 0.15s ease-out;
  }

  &:hover {
    background-color: rgb(var(--secondary-1-3));

    &::before {
      background-color: white;
    }
  }

  &.--opened {
    background-color: rgb(var(--secondary-1-3));

    &::before {
      background-color: white;
    }
  }
}

.user-configuration__dialog-container {
  background-color: white;
  position: absolute;
  top: calc(48px + var(--space-base));
  right: 0;
  border-radius: var(--base-border-radius);
  box-shadow: var(--box-shadow);
  transition: width 0.15s ease, opacity 0.15s ease;
  width: 0;
  overflow: hidden;

  &.--opened {
    width: 360px;
  }
}

.user-configuration__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  height: 100%;
}

.user-configuration__main {
  padding-bottom: var(--space-large);
}

.user-configuration__credential,
.user-configuration__email,
.user-configuration__user-domain {
  margin-left: var(--space-large);
  padding: var(--space-base) var(--space-large);
  border: 1px solid var(--light-gray);
  outline: 1px solid transparent;
  background-color: rgba(0 0 0 20%);
  border-radius: var(--space-small);
  transition: outline 0.15s ease-out, background-color 0.15s ease-out, border-color 0.15s ease-out;

  &:focus {
    background-color: white;
    outline: 1px solid rgb(var(--primary-3));
    border-color: rgb(var(--primary-3));
  }
}

.user-configuration__input-container {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: space-between;
  margin: var(--space-large) var(--space-large) 0 var(--space-large);
  white-space: nowrap;
}

.user-configuration__input-label {
  color: rgb(var(--primary-4));
}

.user-configuration__marker {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  visibility: hidden;
  background-color: rgb(var(--primary-3) / 70%);
  width: 8px;
  height: 8px;
  border-radius: 4px;

  &.--show {
    visibility: visible;
  }
}

/* footer */
.user-configuration__footer {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--space-base);
  padding-top: calc(var(--space-base) - 1px);
  border-top: 1px solid var(--light-gray);
}

.user-configuration__submit,
.user-configuration__cancel {
  flex: 0 0 auto;
  align-self: flex-end;
  right: 0;
  bottom: 0;
  padding: var(--space-base);
  border-radius: 4px;
  transition: background-color 0.15s ease-in-out;
}

.user-configuration__submit {
  border: 1px solid rgb(var(--secondary-1-0));
  background-color: rgb(var(--secondary-1-1));
  color: white;

  &:hover {
    background-color: rgb(var(--secondary-1-2));
  }

  &:active {
    background-color: rgb(var(--secondary-1-3));
  }

  &[disabled] {
    color: gray;
    background-color: white;
    border-color: gray;
  }
}

.user-configuration__cancel {
  border: 1px solid black;
  background-color: white;
  color: black;

  &:hover {
    background-color: lightgray / 60%;
  }

  &:active {
    background-color: lightgray;
  }
}
